/* Header */

#login {
    display: flex;
    justify-content: right;
}

.global-header {
    color: #C5C3C0; 
    text-decoration: none;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500px;
    text-transform: uppercase;
    padding: 45px 7px 7px 7px;
}

.not-main {
    background-color: #171D25;
}

#header-nav {
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

#install-steam-btn {
    background-color: #5C7E10;
    font-family: "Motiva Sans", Sans-serif;
    border-radius: 0px;
}